.img-responsive {
    width: 300px;
    height: 220px;
    text-align: center;
}

body {
    background-color: black;
    color: limegreen;
}

hr {
    background-color: white;
}

h3 {
    text-decoration: underline;
}

.line {
    border-right: solid;
    border-color: white;
    border-width: 1px;
}
#top {
    margin-top: 10px;
}
.devour-btn {
    margin-bottom: 2px;
}